In [3]:
from datascience import *
import numpy as np
import math
%matplotlib inline

In [4]:
# SUJUDE RULES 
# old cleaning process to generate bay_area_data.csv
# data = Table().read_table('data/cps_00002.csv')

In [5]:
# extract San Francisco Metropolitan Area
#sf = data.where('METAREA', are.equal_to(7365))

In [6]:
# Extract Silicon Valley/San Jose Metropolitan Area
#sv = data.where('METAREA', are.equal_to(7401))

In [7]:
# bay_area = sf.append(sv)

In [8]:
# bay_area.to_df().to_csv('bay_area_data.csv', index=False)

In [9]:
bay_area = Table().read_table('data/bay_area_data.csv')
bay_area

YEAR | SERIAL | HWTSUPP | CPSID       | ASECFLAG | HFLAG | METAREA | MONTH | PERNUM | CPSIDP      | WTSUPP  | SEX  | RACE | OCC2010 | INCTOT
2013 | 92957  | 2862.21 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01112e+13 | 2862.21 | 1    | 100  | 9620    | 25000
2013 | 92957  | 2862.21 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 2      | 2.01112e+13 | 4541.27 | 1    | 100  | 6260    | 12011
2013 | 92957  | 2862.21 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 3      | 2.01112e+13 | 4513.16 | 1    | 100  | 6420    | 25000
2013 | 92957  | 2862.21 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 4      | 2.01112e+13 | 4513.16 | 1    | 100  | 9130    | 10000
2013 | 92959  | 2385.98 | 2.01212e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01212e+13 | 2385.98 | 2    | 652  | 3530    | 53515
2013 | 92959  | 2385.98 | 2.01212e+13 | 1        | nan   | 7365    | 3     | 2      | 2.01212e+13 | 2385.98 | 1    | 652  | 3110    | 71000
2013 | 92959  | 2385.98 | 2.01212e+13 | 1        | nan   | 7365    | 3     | 3      | 2.01212e+13 | 1661.4  | 2    | 652  | 9920    | 99999999
2013 | 92963  | 3137.8  | 2.01112e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01112e+13 | 3137.8  | 2    | 100  | 430     | 77800
2013 | 92963  | 3137.8  | 2.01112e+13 | 1        | nan   | 7365    | 3     | 2      | 2.01112e+13 | 3309.68 | 1    | 100  | 4620    | 23520
2013 | 92963  | 3137.8  | 2.01112e+13 | 1        | nan   | 7365    | 3     | 3      | 2.01112e+13 | 3309.68 | 1    | 100  | 4700    | 14120
... (13100 rows omitted)

In [10]:
# check to confirm that values are ints
type(bay_area.column(13).item(3))

int

Trying to make new table with only relevant jobs, then add corresponding Job Categories.

In [11]:
# array of all relevant job codes
# matching job categories are in Occupations spreadsheet in Google Drive
job_codes = make_array(10, 20, 30, 100, 110, 120, 130, 140, 150, 160, 220, 300, 310, 330, 350, 360, 410, 420,
                      620, 700, 710, 720, 730, 800, 820, 940, 950, 1000, 1010, 1020, 1050, 1060, 1100, 1200, 1220,
                       1230, 1240, 1350, 1360, 1400, 1410, 1420, 1430, 1450, 1460, 1540, 1550, 1720, 1910, 1920,
                       1980, 2840, 2900, 4000, 4010, 4030, 4050, 4060, 4110, 4120, 4130, 4140, 4150, 4200, 4210,
                       4220, 4230, 4250, 4720, 5000, 7720, 7730, 7900, 8000, 8010, 8030, 8060, 8800, 8830, 7700,
                       9620, 9630, 9640)

In [12]:
job_codes

array([  10,   20,   30,  100,  110,  120,  130,  140,  150,  160,  220,
        300,  310,  330,  350,  360,  410,  420,  620,  700,  710,  720,
        730,  800,  820,  940,  950, 1000, 1010, 1020, 1050, 1060, 1100,
       1200, 1220, 1230, 1240, 1350, 1360, 1400, 1410, 1420, 1430, 1450,
       1460, 1540, 1550, 1720, 1910, 1920, 1980, 2840, 2900, 4000, 4010,
       4030, 4050, 4060, 4110, 4120, 4130, 4140, 4150, 4200, 4210, 4220,
       4230, 4250, 4720, 5000, 7720, 7730, 7900, 8000, 8010, 8030, 8060,
       8800, 8830, 7700, 9620, 9630, 9640])

In [13]:
jobs = Table().with_column('Jobs', job_codes)
jobs

Jobs
10
20
30
100
110
120
130
140
150
160
... (73 rows omitted)

In [14]:
import pandas as pd

df = bay_area.to_df()
bay_area = Table.from_df(df.loc[df['OCC2010'].isin(job_codes)])
bay_area

YEAR | SERIAL | HWTSUPP | CPSID       | ASECFLAG | HFLAG | METAREA | MONTH | PERNUM | CPSIDP      | WTSUPP  | SEX  | RACE | OCC2010 | INCTOT
2013 | 92957  | 2862.21 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01112e+13 | 2862.21 | 1    | 100  | 9620    | 25000
2013 | 92966  | 1636.31 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01112e+13 | 1636.31 | 1    | 100  | 220     | 74645
2013 | 92966  | 1636.31 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 3      | 2.01112e+13 | 1589.28 | 2    | 100  | 4110    | 6240
2013 | 92967  | 3141.2  | 2.01112e+13 | 1        | nan   | 7365    | 3     | 3      | 2.01112e+13 | 3384.73 | 1    | 100  | 1050    | 0
2013 | 92969  | 3068.09 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01112e+13 | 3068.09 | 1    | 100  | 1410    | 115421
2013 | 92970  | 2892.39 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01112e+13 | 2892.39 | 1    | 100  | 1020    | 117865
2013 | 92973  | 1562.79 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01112e+13 | 1562.79 | 1    | 100  | 4220    | 29017
2013 | 92976  | 1748.64 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01112e+13 | 1748.64 | 2    | 651  | 350     | 130030
2013 | 92980  | 1684.33 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 3      | 2.01112e+13 | 2157.3  | 2    | 651  | 720     | 571
2013 | 92983  | 3266.71 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 2      | 2.01112e+13 | 3406.81 | 1    | 100  | 9620    | 19825
... (2540 rows omitted)

In [15]:
type(bay_area)

datascience.tables.Table

In [16]:
cut_bay_area= bay_area.drop("CPSID","ASECFLAG","HWTSUPP", "HFLAG", "MONTH", "PERNUM", "CPSIDP","WTSUPP")
cut_bay_area

YEAR | SERIAL | METAREA | SEX  | RACE | OCC2010 | INCTOT
2013 | 92957  | 7365    | 1    | 100  | 9620    | 25000
2013 | 92966  | 7365    | 1    | 100  | 220     | 74645
2013 | 92966  | 7365    | 2    | 100  | 4110    | 6240
2013 | 92967  | 7365    | 1    | 100  | 1050    | 0
2013 | 92969  | 7365    | 1    | 100  | 1410    | 115421
2013 | 92970  | 7365    | 1    | 100  | 1020    | 117865
2013 | 92973  | 7365    | 1    | 100  | 4220    | 29017
2013 | 92976  | 7365    | 2    | 651  | 350     | 130030
2013 | 92980  | 7365    | 2    | 651  | 720     | 571
2013 | 92983  | 7365    | 1    | 100  | 9620    | 19825
... (2540 rows omitted)

In [30]:
STEM_codes= make_array(700, 1000, 1010, 1020, 1050, 1220, 1230, 1240, 1350, 1360, 1400, 1410, 1420, 1430,
    1450,1460, 1540, 1550, 1720, 1910, 1920, 1980,2840, 2900,7720, 7730, 7900, 8000, 8010,8030,
    8060, 8800, 8830)
SERVICE_codes= make_array(7700, 9620, 9630, 9640, 4000, 4010, 4030, 4050, 4060, 4110, 4120, 4130, 4140, 4150, 4720, 
    7700,9620,9630,9640)
FINANCIAL_codes= make_array(120, 800, 820, 940, 950)
CUSTODIAL_codes= make_array(4200, 4210, 4220, 4230, 4250)
MANAGEMENT_codes= make_array(130, 150, 160, 220, 30, 100, 410, 420)
STEM_MANAGER_codes=make_array(140,300,330, 350, 360, 1060, 1100)
ADMINISTRATOR_codes= make_array(10,20)
def job_categories(x): 
    if x in STEM_codes.any: 
        return "STEM"
    elif x in SERVICE_codes.any:
        return "SERVICE"
    elif x in FINANCIAL_codes.any:
        return "FINANCIAL"
    elif x in CUSTODIAL_codes.any:
        return "CUSTODIAL"
    elif x in MANAGEMENT_codes.any:
        return "MANAGEMENT"
    elif x in ADMINISTRATOR_codes.any:
        return "ADMINISTRATOR"
    elif x in STEM_MANAGER_codes.any:
        return "STEM MANAGER"
    else: 
        return "UNKNOWN"

In [31]:
#job_categories(1100)
#job_categories(cut_bay_area.column("OCC2010"))

TypeError: argument of type 'builtin_function_or_method' is not iterable