In [1]:
from datascience import *
import numpy as np
import math
%matplotlib inline

In [2]:
# no longer relevant
# old cleaning process to generate bay_area_data.csv
# data = Table().read_table('data/cps_00002.csv')

In [3]:
# extract San Francisco Metropolitan Area
# sf = data.where('METAREA', are.equal_to(7365))

In [4]:
# Extract Silicon Valley/San Jose Metropolitan Area
# sv = data.where('METAREA', are.equal_to(7401))

In [5]:
# bay_area = sf.append(sv)

In [6]:
# bay_area.to_df().to_csv('bay_area_data.csv', index=False)

In [7]:
bay_area = Table().read_table('data/bay_area_data.csv')
bay_area

YEAR | SERIAL | HWTSUPP | CPSID       | ASECFLAG | HFLAG | METAREA | MONTH | PERNUM | CPSIDP      | WTSUPP  | SEX  | RACE | OCC2010 | INCTOT
2013 | 92957  | 2862.21 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01112e+13 | 2862.21 | 1    | 100  | 9620    | 25000
2013 | 92957  | 2862.21 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 2      | 2.01112e+13 | 4541.27 | 1    | 100  | 6260    | 12011
2013 | 92957  | 2862.21 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 3      | 2.01112e+13 | 4513.16 | 1    | 100  | 6420    | 25000
2013 | 92957  | 2862.21 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 4      | 2.01112e+13 | 4513.16 | 1    | 100  | 9130    | 10000
2013 | 92959  | 2385.98 | 2.01212e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01212e+13 | 2385.98 | 2    | 652  | 3530    | 53515
2013 | 92959  | 2385.98 | 2.01212e+13 | 1        | nan   | 7365    | 3     | 2      | 2.01212e+13 | 2385.98 | 1    | 652  | 3110    | 71000
2013 | 92959  | 2385.98 | 2.01212e+13 | 1        | nan   | 7365    | 3     | 3      | 2.01212e+13 | 1661.4  | 2    | 652  | 9920    | 99999999
2013 | 92963  | 3137.8  | 2.01112e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01112e+13 | 3137.8  | 2    | 100  | 430     | 77800
2013 | 92963  | 3137.8  | 2.01112e+13 | 1        | nan   | 7365    | 3     | 2      | 2.01112e+13 | 3309.68 | 1    | 100  | 4620    | 23520
2013 | 92963  | 3137.8  | 2.01112e+13 | 1        | nan   | 7365    | 3     | 3      | 2.01112e+13 | 3309.68 | 1    | 100  | 4700    | 14120
... (13100 rows omitted)

In [8]:
# check to confirm that values are ints
type(bay_area.column(13).item(3))

int

Trying to make new table with only relevant jobs, then add corresponding Job Categories.

In [24]:
# array of all relevant job codes
# matching job categories are in Occupations spreadsheet in Google Drive
job_codes = make_array(10, 20, 30, 100, 110, 120, 130, 140, 150, 160, 220, 300, 310, 330, 350, 360, 410, 420,
                      620, 700, 710, 720, 730, 800, 820, 940, 950, 1000, 1010, 1020, 1050, 1060, 1100, 1200, 1220,
                       1230, 1240, 1350, 1360, 1400, 1410, 1420, 1430, 1450, 1460, 1540, 1550, 1720, 1910, 1920,
                       1980, 2840, 2900, 4000, 4010, 4030, 4050, 4060, 4110, 4120, 4130, 4140, 4150, 4200, 4210,
                       4220, 4230, 4250, 4720, 5000, 7720, 7730, 7900, 8000, 8010, 8030, 8060, 8800, 8830, 7700,
                       9620, 9630, 9640)

In [19]:
job_codes

array([  10,   20,   30,  100,  110,  120,  130,  140,  150,  160,  220,
        300,  310,  330,  350,  360,  410,  420,  620,  700,  710,  720,
        730,  800,  820,  940,  950, 1000, 1010, 1020, 1050, 1060, 1100,
       1200, 1220, 1230, 1240, 1350, 1360, 1400, 1410, 1420, 1430, 1450,
       1460, 1540, 1550, 1720, 1910, 1920, 1980, 2840, 2900, 4000, 4010,
       4030, 4050, 4060, 4110, 4120, 4130, 4140, 4150, 4200, 4210, 4220,
       4230, 4250, 4720, 5000, 7720, 7730, 7900, 8000, 8010, 8030, 8060,
       8800, 8830, 7700, 9620, 9630, 9640])

In [10]:
jobs = Table().with_column('Jobs', job_codes)
jobs

Jobs
10
20
30
100
110
120
130
140
150
160
... (73 rows omitted)

In [50]:
import pandas as pd

df = bay_area.to_df()
bay_area = Table.from_df(df.loc[df['OCC2010'].isin(job_codes)])
bay_area

YEAR | SERIAL | HWTSUPP | CPSID       | ASECFLAG | HFLAG | METAREA | MONTH | PERNUM | CPSIDP      | WTSUPP  | SEX  | RACE | OCC2010 | INCTOT
2013 | 92957  | 2862.21 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01112e+13 | 2862.21 | 1    | 100  | 9620    | 25000
2013 | 92966  | 1636.31 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01112e+13 | 1636.31 | 1    | 100  | 220     | 74645
2013 | 92966  | 1636.31 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 3      | 2.01112e+13 | 1589.28 | 2    | 100  | 4110    | 6240
2013 | 92967  | 3141.2  | 2.01112e+13 | 1        | nan   | 7365    | 3     | 3      | 2.01112e+13 | 3384.73 | 1    | 100  | 1050    | 0
2013 | 92969  | 3068.09 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01112e+13 | 3068.09 | 1    | 100  | 1410    | 115421
2013 | 92970  | 2892.39 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01112e+13 | 2892.39 | 1    | 100  | 1020    | 117865
2013 | 92973  | 1562.79 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01112e+13 | 1562.79 | 1    | 100  | 4220    | 29017
2013 | 92976  | 1748.64 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01112e+13 | 1748.64 | 2    | 651  | 350     | 130030
2013 | 92980  | 1684.33 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 3      | 2.01112e+13 | 2157.3  | 2    | 651  | 720     | 571
2013 | 92983  | 3266.71 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 2      | 2.01112e+13 | 3406.81 | 1    | 100  | 9620    | 19825
... (2540 rows omitted)

In [37]:
bay_area.where?

In [18]:
type(bay_area)

datascience.tables.Table

In [22]:
# some variation of this should work
#t = Table(make_array(bay_area.labels)[0])
#a = bay_area.where('OCC2010'), are.equal_to(job_codes)
#for i in job_codes:
    #t.append(a)
#t

Exception: Row should have 15 columns

In [19]:
# THIS WORKS
# so above code is close!
ten = bay_area.where('OCC2010', are.equal_to(10))
t.append(ten)

YEAR | SERIAL | HWTSUPP | CPSID       | ASECFLAG | HFLAG | METAREA | MONTH | PERNUM | CPSIDP      | WTSUPP  | SEX  | RACE | OCC2010 | INCTOT
2013 | 93310  | 1822.77 | 0           | 1        | nan   | 7365    | 3     | 2      | 0           | 1822.77 | 2    | 100  | 10      | 77200
2013 | 93328  | 1630.06 | 2.01112e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01112e+13 | 1630.06 | 2    | 100  | 10      | 15903
2013 | 93389  | 3205.94 | 2.01202e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01202e+13 | 3205.94 | 1    | 100  | 10      | 91800
2013 | 93392  | 3330.06 | 2.01203e+13 | 1        | nan   | 7365    | 3     | 2      | 2.01203e+13 | 3330.06 | 1    | 100  | 10      | 289999
2013 | 93419  | 3137.8  | 2.01212e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01212e+13 | 3137.8  | 1    | 100  | 10      | 331170
2013 | 93422  | 3141.2  | 2.01212e+13 | 1        | nan   | 7365    | 3     | 2      | 2.01212e+13 | 3141.2  | 1    | 100  | 10      | 405677
2013 | 93453  | 1635.74 | 2.01302e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01302e+13 | 1635.74 | 1    | 803  | 10      | 158650
2013 | 93454  | 1709.83 | 2.01302e+13 | 1        | nan   | 7365    | 3     | 1      | 2.01302e+13 | 1709.83 | 1    | 100  | 10      | 277744
2013 | 93454  | 1709.83 | 2.01302e+13 | 1        | nan   | 7365    | 3     | 2      | 2.01302e+13 | 1709.83 | 2    | 100  | 10      | 82000
2013 | 93473  | 1634.97 | 2.01303e+13 | 1        | nan   | 7365    | 3     | 2      | 2.01303e+13 | 1634.97 | 2    | 100  | 10      | 70500
... (107 rows omitted)