In [1]:
from datascience import *
import numpy as np
import math
%matplotlib inline

In [2]:
data = Table().read_table('data/cps_00002.csv')

In [9]:
data

YEAR | SERIAL | HWTSUPP | CPSID       | ASECFLAG | HFLAG | METAREA | MONTH | PERNUM | CPSIDP      | WTSUPP | SEX  | RACE | OCC2010 | INCTOT
2013 | 3      | 616.97  | 2.01112e+13 | 1        | nan   | 9998    | 3     | 1      | 2.01112e+13 | 616.97 | 1    | 100  | 9920    | 20196
2013 | 5      | 591.14  | 2.01112e+13 | 1        | nan   | 9998    | 3     | 1      | 2.01112e+13 | 591.14 | 2    | 100  | 9100    | 25200
2013 | 5      | 591.14  | 2.01112e+13 | 1        | nan   | 9998    | 3     | 2      | 2.01112e+13 | 591.14 | 1    | 100  | 7220    | 26000
2013 | 5      | 591.14  | 2.01112e+13 | 1        | nan   | 9998    | 3     | 3      | 2.01112e+13 | 514.79 | 1    | 100  | 9920    | 13200
2013 | 7      | 613.14  | 2.01201e+13 | 1        | nan   | 9998    | 3     | 1      | 2.01201e+13 | 613.14 | 1    | 100  | 6230    | 9000
2013 | 7      | 613.14  | 2.01201e+13 | 1        | nan   | 9998    | 3     | 2      | 2.01201e+13 | 613.14 | 2    | 100  | 9920    | 0
2013 | 9      | 656.54  | 2.01201e+13 | 1        | nan   | 9998    | 3     | 1      | 2.01201e+13 | 656.54 | 2    | 100  | 3130    | 45184
2013 | 9      | 656.54  | 2.01201e+13 | 1        | nan   | 9998    | 3     | 2      | 2.01201e+13 | 656.54 | 1    | 100  | 2310    | 28126
2013 | 10     | 347.43  | 2.01201e+13 | 1        | nan   | 9998    | 3     | 1      | 2.01201e+13 | 347.43 | 1    | 100  | 7220    | 40000
2013 | 10     | 347.43  | 2.01201e+13 | 1        | nan   | 9998    | 3     | 2      | 2.01201e+13 | 347.43 | 2    | 100  | 9920    | 3472
... (786691 rows omitted)

In [3]:
# extract San Francisco Metropolitan Area
sf = data.where('METAREA', are.equal_to(7365))

In [4]:
# Extract Silicon Valley/San Jose Metropolitan Area
sv = data.where('METAREA', are.equal_to(7401))

In [5]:
bay_area = sf.append(sv)

In [7]:
bay_area.to_df().to_csv('bay_area_data.csv', index=False)