In [2]:
from datascience import *
import numpy as np
import math

# Welcome to GWS-131's Data Science Module!

These data are compiled from EEO-1 reports from Apple, Twitter, Salesforce, Facebook, Microsoft, and Intel. The EEO-1 is a document required by the federal government that provides the raw numbers of employees in each of the categories below. We summed the most recent data (all from 2014-16) for these companies to get the table below.

In [5]:
# load data
tech_data = Table.read_table('data/Total-compiled_EEO-1.csv')
tech_data.show()

In [6]:
tech_data.hist(1) # WHY

UCB data is from Fall 2015.

Source: UC Corporate Personnel System

Note: STEM includes engineering and computer science, life sciences, math, medicine, other health sciences and physical sciences.