In [2]:
from datascience import *
import numpy as np
import math

In [24]:
UCB_data = Table.read_table('UCOP.csv')
professors = UCB_data.where("Title", are.equal_to("PROF-AY"))

In [36]:
UCB_data.select(2,3,4,5)

First Name  | Last Name | Title               | Gross Pay
 ALLISON    | LILJEDAHL | EHS SPEC 4          | 99998
*****       | *****     | GSR-PARTIAL FEE REM | 9999
 PATRICIA   | CRAWFORD  | SPECIALIST COOP EXT | 99983
 CAROL      | SIRNEY    | ADMIN OFCR 3        | 99980
*****       | *****     | LAB AST 2           | 9998
 MARY       | COCOMA    | FUNDRAISING MGR 1   | 99979
 ADAM       | GERMEK    | SYS ADM 3           | 99978
 DAVID      | ROMPS     | ASST PROF-AY        | 99974
 KATHERINE  | RINNE     | LECT-AY-1/9         | 9997
 MARGUERITE | JACOBS    | BLANK AST 2         | 9997
... (35363 rows omitted)

In [26]:
professors.sort(' Gross Pay ', descending=True)

Year | Location | First Name | Last Name | Title   |  Gross Pay  | Regular Pay | Overtime Pay | Other Pay
2015 | Berkeley |  MILTON    | AZEVEDO   | PROF-AY |  99,275     | 99,275      | 0            | 0
2015 | Berkeley |  MICHAEL   | MARLETTA  | PROF-AY |  98,542     | 98,542      | 0            | 0
2015 | Berkeley |  ROY       | CALDWELL  | PROF-AY |  92,496     | 92,496      | 0            | 0
2015 | Berkeley |  ELIZABETH | DEAKIN    | PROF-AY |  91,985     | 70,067      | 0            | 21,918
2015 | Berkeley |  YASUNORI  | NOMURA    | PROF-AY |  91,673     | 64,875      | 0            | 26,798
2015 | Berkeley |  STEVEN    | LEHMAN    | PROF-AY |  9,491      | 9,491       | 0            | 0
2015 | Berkeley |  CHARLAN   | NEMETH    | PROF-AY |  89,076     | 89,076      | 0            | 0
2015 | Berkeley |  DANA      | BUNTROCK  | PROF-AY |  88,801     | 88,801      | 0            | 0
2015 | Berkeley |  MARK      | DANNER    | PROF-AY |  87,558     | 66,550      | 0            | 21,008
2015 | Berkeley |  ARTHUR    | SHIMAMURA | PROF-AY |  86,963     | 78,992      | 0            | 7,971
... (549 rows omitted)

In [ ]:
U